.up,
.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* Shared Card Styles */
.card1,
.card2,
.card3,
.card4 {
  width: 140px;
  height: 140px;
  outline: none;
  border: none;
  padding: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific Border Radius */
.card1 {
  border-radius: 90px 5px 50% 5px;
}

.card2 {
  border-radius: 5px 90px 5px 50%;
}

.card3 {
  border-radius: 5px 50% 5px 90px;
}

.card4 {
  border-radius: 50% 5px 90px 5px;
}

/* Common SVG Styling for Social Cards */
.card1 svg,
.card2 svg,
.card3 svg,
.card4 svg {
  margin: 0;
  fill: white;
}

/* Specific Fix for Top-Right Tile Visual Alignment */
.card2 svg {
  transform: translate(-0.6em, 0.6em);
}

/* Hover Scaling */
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  cursor: pointer;
  scale: 1.1;
}

/* Central Spotify Card */
.spotifycard {
  width: 290px;
  height: 290px;
  outline: none;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  position: absolute;
  border-radius: 92px;
}

.spotifycard svg {
  fill: white;
}

.spotifycard:hover {
  cursor: pointer;
  scale: 1.05;
}
