:root {
  --font-family: "Gruppo", "Chakra Petch";
  --background-color: #141414;
  --button-background: #007bff;
  --button-hover-background: #0052aa;
  --font-color: #ffffff;
  --submit-button-background: #707070;
  --submit-button-hover-background: #458bc2;
  --submit-button-font-color: #efefef;
  --modal-background: rgba(0, 0, 0, 0.4);
  --form-container-background: #303030;
  --sb-track-color: #232e33;
  --sb-thumb-color: #007bff;
  --calculator-operator: orange;
  --tile-background: #3b3b3b;
  --tile-border-radius: 10px;
}
