:root {
  --font-family: "Roboto", Arial, sans-serif;
  --background-color: #1d2d22;
  --button-hover-background: #4caf50;
  --button-background: #388e3c;
  --font-color: #ffffff;
  --submit-button-background: #546e7a;
  --submit-button-hover-background: #78909c;
  --submit-button-font-color: #efefef;
  --modal-background: rgba(0, 0, 0, 0.7);
  --form-container-background: #34495e;
  --sb-track-color: #1d2d22;
  --sb-thumb-color: #388e3c;
  --calculator-operator: #546e7a;
  --tile-border-radius: 10px;
  --tile-background: #34495e;
}
